/* Reset */

html, body, div, header, h1, h2, a, img, figure,
ul, li, p, article, section, img, strong {
	border: 0;
	padding: 0;
	margin: 0;
	font: inherit;
	font-weight: inherit;
	text-align: inherit;
	text-decoration: inherit;
	color: inherit;
	outline: inherit;
	background: transparent;
}

img {
	width: 100%;
	display: block;
}

ul {
	list-style: none;
}

/* Clear Fix */

.group:after {
	content: "";
	display: block;
	clear: both;
}

/* Body */

body {
	font-family: "Droid Serif";
}

.parallax {
	background: url(../images/outer-hebrides.jpg) top center no-repeat;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

#content {
}

/* Header */

.header {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	margin-bottom: 200px;
	color: #fff;
	width: 500px;
	text-align: center;
	position: relative;
}

.name {
	font-size: 48px;
	margin-bottom: 20px;
	text-shadow: 2px 2px #000;
}

.name:after {
	content: "";
	display: block;
	height: 1px;
	left: 0;
	right: 0;
	background: linear-gradient(to right, rgba(255,255,255, 0) 10%, rgba(255,255,255, 1) 50%, rgba(255,255,255, 0) 90%);
	box-shadow: 2px 2px #000;
}

.job-title {
	font-size: 20px;
}

.social-icons {
	margin: 40px auto;
	width: 136px;
}

.social-icon {
	float: left;
}

.social-link {
	display: block;
	width: 64px;
	background: #bbb;
	opacity: 0.5;
	border: 2px solid #ddd;
}

.social-link:hover {
	opacity: 0.8;
	background: #ddd
	border: 2px solid #fff;
}

.social-picture {
	width: 64px;
}

/* Main */

.main {
	width: 800px;
	border-radius: 20px;
	padding: 20px;
	margin: 0 auto;
	background-color: rgba(200,200,200,0.3);
}



section, .nav-bar {
	position: relative;
	margin-bottom: 50px;
	box-shadow: 2px 2px 8px #000;
	/*background-color: #fff;*/
	background: linear-gradient(to top right, rgb(220,220,220), rgb(255, 255, 255));
	border-radius: 20px;
	padding: 20px;
}

.nav-bar {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
	width: 550px;
	color: #666;
	background: #fff;
}

.nav-bar-item {
	float: left;
	width: 100px;
	text-align: center;
	position: relative;
	margin-right: 10px;
}

.nav-bar-item:last-child {
	margin: 0;
}

.nav-bar-item:hover {
	color: #111;
}

.nav-bar-item:hover:after {
	display: block;
	position: absolute;
	content: "";
	height: 1px;
	left: 0;
	right: 0;
	background: #000;
	-webkit-animation: growLine 1s ease both;
}

@-webkit-keyframes growLine {
	from {transform: scale(0);}
}

section h1:after {
	content: "";
	display: block;
	height: 1px;
	left: 0;
	right: 0;
	background: linear-gradient(to right, rgba(0,0,0,0) 10%, rgba(0,0,0,1) 50%, rgba(0,0,0,0) 90%);
}

section h1 {
	text-align: center;
	font-size: 36px;
	margin-bottom: 20px;
	font-weight: bold;
}

.summary-image {
	width: 200px;
	margin: 10px auto;
	border-radius: 50%;
	border: 1px solid #333;
	overflow: hidden;
}

.summary-paragraph {
	width: 300px;
	margin: 10px auto;
	text-align: center;
	color: #777;
}

.projects {

}

.project {
	width: 200px;
	border: 2px solid #888;
	padding: 5px;
	color: #fff;
	background: #222;
	float: left;
	text-align: center;
	position: relative;
	box-shadow: 0 0 0 #000;
	top: 0;
	left: 0;
	overflow: hidden;
	-webkit-transition: box-shadow 0.2s, left 0.2s, top 0.2s, background 1s;
	border-radius: 5px;
	margin-bottom: 20px;
}

.project:nth-child(3n+2) {
	margin-left: 58px;
	margin-right: 58px;
}

.project-live {
	display: block;
	position: absolute;
	width: 50px;
	padding: 2px 50px;
	background: #41BA09;
	color: #ddd;
	letter-spacing: 2px;
	font-weight: bold;
	transform: rotate(-45deg);
	top: 11px;
	left: -51px;
	border: 1px solid #328F07;
	z-index: 9;
	opacity: 0.8;
	-webkit-transition: opacity 1s, color 1s;
	box-shadow: 1px 1px 5px #000;
}

.gloss-effect {
	position: absolute;
	display: block;
	background: linear-gradient(to top, rgba(255,255,255,0.1) 0%, rgba(255,255,255,0.5) 33%);
	left: -100px;
	right: -100px;
	height: 150px;
	top: -100px;
	content: "";
	border-radius: 50%;
	opacity: 0.6;
	-webkit-transition: opacity 1s;
	z-index: 10;
}

.project:hover {
	left: -3px;
	top: -3px;
	box-shadow: 3px 3px 3px #000;
	background: #333;
}

.project:hover .gloss-effect {
	opacity: 0.8;
}

.project:hover .project-live {
	opacity: 1;
	color: #fff;
}

.project-figure {
	height: 100px;
	display: block;
	overflow: hidden;
	border: 1px solid #666;
	border-radius: 5px;
}

.project-title {
	text-shadow: 1px 1px #123;
}

.skills-list {
	width: 600px;
	margin: 10px auto;
}

.skills-item {
	float: left;
}

.skill-icon {
	width: 100px;
	margin-right: 20px;
}

.skill-icon:nth-child(5n) {
	margin-right: 0;
}

.resume-link {
	margin: 20px auto;
	display: block;
	width: 600px;
	position: relative;
	border-radius: 5px;
	border: 2px solid #000;
	overflow: hidden;
	opacity: 0.5;
	-webkit-transition: transform 1s, opacity 1s;
}

.resume-link:hover {
	transform: scale(1.05);
	opacity: 1;
}

.resume-hover-in {
	position: absolute;
	top: 0px;
	left: 50%;
	transform: translate(-50%, -100%);
	background: rgba(50,50,50,0.5);
	width: 200px;
	border-radius: 5px;
	opacity: 0;
	text-align: center;
	color: #fff;
	padding: 10px;
	-webkit-transition: opacity 1s, transform 1s;
}

.resume-link:hover .resume-hover-in {
	opacity: 1;
	transform: translate(-50%, 0);
}

.resume-pic {

}

.gradient-overlay {
	background: linear-gradient(to bottom, rgba(0,0,0,0) 85%, rgba(0,0,0,1) 100%);
	opacity: 0.7;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

.contacts-list {
	width: 400px;
	margin: 0 auto;
}

.contact-item {
	display: block;
	width: 100%;
}

.contact-type {
	float: left;
	font-weight: bold;
}

.contact-info {
	float: right;
	text-align: right;
}

.footer {
	padding-bottom: 100px;
}